.user__form {
    h3 {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .form__error-message {
        color: red;
        margin: 0;
    }
}
